.container{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 200px;
	position: relative;
	border: none;
}
h2{
    text-align: center;
    margin-top: 20px;
}
.content{
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
}
.content .left{
	min-width: 100px;
	background: #FFFFFF;
	margin-right: 10px;
	/*height: 1000px;*/
	border-radius: 3px;
	box-shadow: 0px 0px 5px #000000;
	position: relative;
	z-index: 999;
}
.content .right{
	/*height: 1000px;*/
	background: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #000000;
	padding-bottom: 20px;
}
.left .feature_item{
    text-align: center;
    line-height: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.left .feature_item:hover{
    color: #00a9cd;
    border-color: #00a9cd;
}
table{
	margin-top: 15px;
}






























