.index{
	position: relative;
	margin: 20px auto 10px;
}
.content{
	width: 100%;
	padding-bottom: 60px;
}
.main{
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 0 3px #000000;
	overflow: hidden;
	border: 1px solid #000000;
}
.main .intro{
	height: 150px;
}
.main .intro>div{
	float: left;
}
.main .intro img{
	height: 150px;
	width: 150px;
	float: left;
}
.main .intro h2{
	vertical-align: top;
	margin-top: 10px;
	margin-left: 20px;
}
.main .intro .post_status{
	color: #fb7000;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 20px;
}
.post_status_item{
	display: inline-block;
	margin-right: 10px;
}

.intro .intro_content{
	margin-left: 20px;
	margin-top: 8px;
	width: 100%;
	height: 62px;
	overflow: hidden;
}

.intro .btn_attention{
	background: #00a9cd;
	color: #FFFFFF;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border: none;
	font-size: 24px;
	border-radius: 5px;
	float: right;
	margin-right: 50px;
	margin-top: 50px;
	padding: 0 20px;
}
.intro .btn_public{
	background: #00a9cd;
	color: #FFFFFF;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border: none;
	font-size: 24px;
	border-radius: 5px;
	float: right;
	margin-right: 50px;
	margin-top: 50px;
	padding: 0 20px;
}
.posts{
	width: 100%;
	border-top: 2px solid #000000;
}
.posts .post{
	padding: 10px 14px;
	border-bottom: 1px solid #cccccc;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.post .post_content{
	
}
.posts .post .is_top{
	background: #00a9cd;
	border-radius: 4px;
	padding: 5px;
	width: 50px;
	text-align: center;
	margin-right: 5px;
}
.posts .post .post_title_text{
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	color: #00a9cd;
	cursor: pointer;
}
.posts .post .post_title_text:hover{
	text-decoration: underline;
}
.posts .post .is_great{
	background: #FF0000;
	border-radius: 4px;
	padding: 5px;
	margin-right: 5px;
}
.posts .post .post_title_container{
	display: flex;
	align-items: center;
}
.post .post_img_container{
	margin-top: 10px;
	min-height: 50px;
}
.post .post_img_container .post_img{
	height: 100px;
	max-width: 134px;
	cursor: pointer;
}
.post .post_msg{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-left: 30px;
	min-width: 128px;
}
.post .post_msg .master_msg{
	display: flex;
	align-items: center;
}
.post .post_msg .reply_num_msg{
	display: flex;
	align-items: center;
}
.post .post_msg .post_msg_people_img{
	width: 24px;
	height: 24px;
}
.post .post_msg .post_msg_reply_img{
	width: 24px;
	height: 24px;
}
.post .post_msg p{
	display: inline-block;
}
.post .post_msg .post_time{
	text-align: right;
}
.intro .bar_intro_container{
	height: 100%;
	width: 740px;
}
.post .post_content_intro{
	margin: 5px 0;
	height: 25px;
	overflow: hidden;
}
.post .post_content_intro img{
	height: 21px;
}
.no_post_tip{
	color: blue;
	padding: 8px 10px;
	border-bottom: 1px solid black;
	display: none;
}







