.container{
    border: 1px solid black;
    border-radius: 6px;
    overflow: hidden;
}
.page_title{
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    color: white;
    background: #00a0cd;
    height: 40px;
    line-height: 40px;
}
.content{
    display: flex;
}
.content .left{
    border-right: 1px solid black;
}
.content .right{
    flex: 1;
}
.feature_item{
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 10px 8px;
}
.feature_item:hover{
    color: #00a0cd;
}
.chat_item{
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 8px 0px;
    border-bottom: 1px solid black;
}
.send_content{
    width: 740px;
    height: 21px;
    overflow: hidden;
    color: #00a0cd;
    cursor: pointer;
}
.send_nickname{
    color: #00a0cd;
    cursor: pointer;
}
.is_read{
    color: gray;
}
.index li{
    margin-right: 10px;
}
.index{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mask{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
}
.send_bg{
    background: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.send_bg .face_container{
    top: 55px;
}
.send_area .editor_area{
    min-height: 100px;
    max-height: 200px;
}
.send_area .menu{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid black;
}
.chat_container{
    background: white;
    width: 100%;
    height: 300px;
    position: relative;
}
.chat_msg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 270px;
    overflow-y: scroll;

}
.chat_msg_title{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid black;
}
.chat_container .chat_msg img {
    max-height: 300px;
}



