.container{
	border-radius: 8px;
	box-shadow: 0 0 3px #000000;
	overflow: hidden;
    border: 1px solid #000000;
}
.cropper_container{
    text-align: center;
    width: 400px;
    height: 400px;
    border: 2px solid #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
}
.img_container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}
.img_container>img{
    max-width: 100%;
    max-height: 100%;
}
.mask{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
}
.user_msg{
    margin-top: 20px;
    text-align: center;
    position: relative;
}
.user_msg .user_head_img{
    height: 120px;
    width: 120px;
    border-radius: 4px;
    cursor: pointer;
}
.user_msg .user_nickname{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.user_msg .user_data_container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-top: 1px solid #000000;
}
.editor_user_msg_btn{
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 8px;
}
.editor_user_msg_btn:hover{
    color: #00a9cd;
    border-color: #00a9cd;
}
.feature_list{
    display: flex;
    justify-content: space-between;
}
.feature_list li{
    text-align: center;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 25%;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.feature_list li:hover{
    color: #00a9cd;
}
.feature_list li:last-child{
    border-right: 0px solid #000000;
}
.feature_list li:first-child{
    border-bottom: none;
}
.list_select{
    border-bottom: 0px solid #000000;
}
.select_img_btn{
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: -38px;
    left: 165px;
}
.select_img_btn:hover{
    color: #00a9cd;
    border-color: #00a9cd;
}
.cancel_select_img_btn{
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: -38px;
    left: 30px;
}
.cancel_select_img_btn:hover{
    color: #00a9cd;
    border-color: #00a9cd;
}

.save_img_btn{
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: -38px;
    right: 30px;
}
.save_img_btn:hover{
    color: #00a9cd;
    border-color: #00a9cd;
}
.user_msg_editor_container{
    background: white;
    width: 270px;
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    padding: 10px 15px;
    border-radius: 6px;
}
.user_msg_editor_container label{
    margin-right: 15px;
}
.user_msg_editor_container input{
    width: 180px;
    font-size: 18px;
    margin-bottom: 15px;
}
.submit_editor_btn{
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.submit_editor_btn:hover{
    color: #00a9cd;
    border-color: #00a9cd;
}
.cancel_submit_btn{
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 15px;
}
.cancel_submit_btn:hover{
    color: #00a9cd;
    border-color: #00a9cd;
}
.edit_result_tip{
    margin-left: 100px;
}
.content{
    padding: 15px 5px;
}
.contentUserMsgItemContainer{
    width: 450px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 8px;
}
.content .contentUserMsgItem{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.content .contentUserMsgItem:last-child{
    margin-bottom: 0px;
    border-bottom: none;
}

.posts{
	width: 100%;
}
.posts .post{
	padding: 10px 14px;
	border-bottom: 1px solid #cccccc;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.posts .post .is_top{
	background: #00a9cd;
	border-radius: 4px;
	padding: 5px;
	width: 50px;
	text-align: center;
	margin-right: 5px;
}
.posts .post .post_title_text{
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	color: #00a9cd;
	cursor: pointer;
}
.posts .post .post_title_text:hover{
	text-decoration: underline;
}
.posts .post .is_great{
	background: #FF0000;
	border-radius: 4px;
	padding: 5px;
	margin-right: 5px;
}
.posts .post .post_title_container{
	display: flex;
	align-items: center;
}
.post .post_img_container{
	margin-top: 10px;
	min-height: 50px;
}
.post .post_img_container .post_img{
	height: 100px;
	max-width: 134px;
	cursor: pointer;
}
.post .post_msg{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-left: 30px;
	min-width: 128px;
}
.post .post_msg .master_msg{
	display: flex;
	align-items: center;
}
.post .post_msg .reply_num_msg{
	display: flex;
	align-items: center;
}
.post .post_msg .post_msg_people_img{
	width: 24px;
	height: 24px;
}
.post .post_msg .post_msg_reply_img{
	width: 24px;
	height: 24px;
}
.post .post_msg p{
	display: inline-block;
}
.post .post_msg .post_time{
	text-align: right;
}
.intro .bar_intro_container{
	height: 100%;
	width: 740px;
}
.post .post_content_intro{
	margin: 5px 0;
	height: 25px;
	overflow: hidden;
}
.post .post_content_intro img{
	height: 21px;
}
.no_post_tip{
	color: blue;
	padding: 8px 10px;
	border-bottom: 1px solid black;
	display: none;
}
.post_status_item{
	display: inline-block;
	margin-right: 10px;
}
.my_reply_post{
    border: 1px solid #00a9cd;
    padding: 10px 8px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.my_reply_post .reply_post_name{
    color: #00a9cd;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 15px;
}
.my_reply_post .reply_post_bar_belong{
    color: black;
    text-decoration: none;
}
.my_reply_post .reply_post_content{
    margin-top: 10px;
}
.my_reply_post .reply_post_content img{
    max-width: 200px;
}
.my_reply_post .reply_post_time{
    margin-top: 10px;
}
.not_exist_tip{
    color: #00a9cd;
    margin-left: 15px;
    display: none;
}
.my_attention_bar_item{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 8px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.my_attention_bar_item:hover{
    border: 1px solid #00a9cd;
    color: #00a9cd;
}
.noAttentionBarTip{
    margin-left: 10px;
    color: #00a9cd;
}
.my_informs .inform{
    border: 1px solid #00a9cd;
    border-radius: 4px;
    padding: 10px 8px;
    margin-bottom: 15px;
}
.my_informs .informer{
    margin-bottom: 10px;
}
.my_informs .inform_content{
    margin-bottom: 10px;
}
.my_informs .inform_wrapper{
    display: flex;
    justify-content: space-between;
}
.my_informs .inform_btn{
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.my_informs .inform_btn:hover{
    color: #00a9cd;
    border-color: #00a9cd;
}
.index li{
    margin-right: 8px;
}
.have_read_tip{
    color: #cccccc;
    margin-right: 8px;
}