.index{
	position: relative;
	margin: 20px auto 10px;
}
.main{
	border-radius: 8px;
	box-shadow: 0 0 5px #000000;
	overflow: hidden;
}
.comment{
	width: 100%;
	position: relative;
	display: flex;
	border-bottom: 1px solid #000000;
	min-height: 150px;
}
.comment .user_msg{
	flex: 1;
	text-align: center;
	border-right: 1px solid #000000;
}
.comment .user_msg img{
	width: 80px;
	height: 80px;
	margin-top: 20px;
}
.comment .user_msg .user_name{
	margin-top: 20px;
}
.comment .comment_content{
	flex: 5;
}
.comment .comment_content .comment_text{
	padding: 5px;
}
.comment .comment_msg{
	position: relative;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}
.comment .comment_msg button{
	background: none;
	border: 1px solid #000000;
	border-radius: 4px;
	padding: 5px 10px;
	margin-left: 15px;
}
.comment .comment_msg span{
	margin-left: 10px;
}
.comment .comment_text img{
	max-width: 700px;
	height: auto;
}
.main .content .post_msg{
	border-bottom: 1px solid #000000;
	font-size: 24px;
	padding: 10px;
}
.comment .comment_content .replys{
	padding: 10px 0;
	background-color: #7b3100;
}
.comment .comment_content .reply_item{
	border-radius: 6px;
	background: #82bdcc;
	width: 94%;
	margin: 0 auto;
	height: auto;
	padding: 5px 10px;
	border-bottom: 1px solid #FFFFFF;
}
.comment .comment_content .reply_item:last-child{
	margin-bottom: 20px;
}
.comment_content .reply_item img{
	height: 50px;
	width: 50px;
	float: left;
	border-radius: 3px;
}
.comment_content .reply_item .reply_content{
	float: left;
	width: 800px;
	/*margin-left: 10px;*/
	padding-left: 15px;
	box-sizing: border-box;
}
.comment_content .reply_item .reply_text{
	display: inline-block;
}
.comment_content .reply_item .reply_time{
	text-align: right;
}












