.index{
	position: relative;
	margin: 20px auto 10px;
}
.main{
	border-radius: 8px;
	box-shadow: 0 0 5px #000000;
	overflow: hidden;
}
.comment{
	width: 100%;
	position: relative;
	display: flex;
	border-bottom: 1px solid #000000;
	min-height: 150px;
}
.comment .user_msg{
	flex: 1;
	text-align: center;
	border-right: 1px solid #000000;
}
.comment .user_msg img{
	width: 80px;
	height: 80px;
	margin-top: 20px;
	border-radius: 4px;
	cursor: pointer;
}
.comment .user_msg .user_name{
	margin-top: 20px;
}
.comment .comment_content{
	flex: 5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.comment .comment_content .comment_text{
	padding: 5px;
}
.comment .comment_msg{
	position: relative;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}
.comment .comment_msg .report_btn{
	background: none;
	border: 1px solid #000000;
	border-radius: 4px;
	padding: 5px 10px;
	margin-left: 15px;
	cursor: pointer;
}
.comment .comment_msg .report_btn:hover{
	color: #00a9cd;
	border-color: #00a9cd;
}
.comment .comment_msg .watch_reply_btn{
	background: none;
	border: 1px solid #000000;
	border-radius: 4px;
	padding: 5px 10px;
	margin-left: 15px;
	cursor: pointer;
}
.comment .comment_msg .watch_reply_btn:hover{
	color: #00a9cd;
	border-color: #00a9cd;
}
.comment .comment_msg span{
	margin-left: 10px;
}
.comment .comment_text img{
	max-width: 700px;
	height: auto;
}
.master_comment{
	width: 100%;
	position: relative;
	display: flex;
	border-bottom: 1px solid #000000;
	min-height: 150px;
}
.master_comment .user_msg{
	flex: 1;
	text-align: center;
	border-right: 1px solid #000000;
}
.master_comment .user_msg img{
	width: 80px;
	height: 80px;
	margin-top: 20px;
	border-radius: 4px;
}
.master_comment .user_msg .user_name{
	margin-top: 20px;
}
.master_comment .comment_content{
	flex: 5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.master_comment .comment_content .comment_text{
	padding: 5px;
}
.master_comment .comment_msg{
	position: relative;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}
.master_comment .comment_msg .report_btn{
	background: none;
	border: 1px solid #000000;
	border-radius: 4px;
	padding: 5px 10px;
	margin-left: 15px;
	cursor: pointer;
}
.master_comment .comment_msg .report_btn:hover{
	color: #00a9cd;
	border-color: #00a9cd;
}
.master_comment .comment_msg .watch_reply_btn{
	background: none;
	border: 1px solid #000000;
	border-radius: 4px;
	padding: 5px 10px;
	margin-left: 15px;
	cursor: pointer;
}
.master_comment .comment_msg .watch_reply_btn:hover{
	color: #00a9cd;
	border-color: #00a9cd;
}
.master_comment .comment_msg span{
	margin-left: 10px;
}
.master_comment .comment_text img{
	max-width: 700px;
	height: auto;
}
.main .content .post_msg{
	border-bottom: 1px solid #000000;
	font-size: 24px;
	padding: 10px;
}
.comment .comment_content .replys{
	padding: 10px 0;
	background-color: #7b3100;
}
.comment .comment_content .reply_item{
	border-radius: 6px;
	background: #82bdcc;
	width: 94%;
	margin: 0 auto;
	height: auto;
	padding: 5px 10px;
	border-bottom: 1px solid #FFFFFF;
}
.comment .comment_content .reply_item:last-child{
	margin-bottom: 20px;
}
.comment_content .reply_item img{
	height: 50px;
	width: 50px;
	float: left;
	border-radius: 3px;
	cursor: pointer;
}
.comment_content .reply_item .reply_content{
	float: left;
	width: 810px;
	/*margin-left: 10px;*/
	padding-left: 15px;
	box-sizing: border-box;
}
.comment_content .reply_item .reply_text{
	display: inline-block;
	font-size: 14px;
}
.comment_content .reply_item .reply_text .replyer{
	font-size: 16px;
}
.comment_content .reply_item .reply_time{
	text-align: right;
}
.replys .reply_area{
	text-align: right;
	position: relative;
}
.replys .reply_area .reply_editor_area{
	min-height: 60px;
	max-height: 70px;
	background: #FFFFFF;
	border: 1px solid #00a9cd;
	border-radius: 4px;
	width: 860px;
	padding: 5px 10px;
	margin: 0 auto;
	margin-top: 5px;
	text-align: left;
	overflow: hidden;
	overflow-y: scroll;
}
.replys .submit_reply_btn{
	background: #FFFFFF;
	text-align: right;
	padding-right: 15px;
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
	margin: 10px 20px 0px 8px;
}
.replys .submit_reply_btn:hover{
	color: #00a9cd;
	border-color: #00a9cd;
}
.replys .report_btn{
	background: #FFFFFF;
	text-align: right;
	padding-right: 15px;
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
	margin: 10px 20px 0px 0px;
}
.replys .report_btn:hover{
	color: #00a9cd;
	border-color: #00a9cd;
}
.replys .reply_btn{
	background: #FFFFFF;
	text-align: right;
	padding-right: 15px;
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
	margin: 10px 20px 0px 8px;
}
.replys .reply_btn:hover{
	color: #00a9cd;
	border-color: #00a9cd;
}
.reply_area .reply_to_reply_send_tip{
	color: #FFFFFF;
	display: none;
}
.reply_index{
	text-align: center;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.reply_index .reply_index_item{
	border: 1px solid #000000;
	border-radius: 4px;
	text-align: center;
	padding: 5px 10px;
	cursor: pointer;
	display: inline-block;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-color: white;
}
.reply_index .reply_index_item:hover{
	border-color: #00a9cd;
	color: #00a9cd;
}
.reply_index .reply_paging_btn{
	border: 1px solid #000000;
	border-radius: 4px;
	text-align: center;
	padding: 5px 10px;
	cursor: pointer;
	display: inline-block;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-color: white;
}
.reply_index .reply_paging_btn:hover{
	border-color: #00a9cd;
	color: #00a9cd;
}
.reply_index .reply_index_item.currIndex{
	border: none;
	background-color: rgba(255,255,255,0); 
}
.post_not_exist_tip{
	color: #00a9cd;
	border-radius: 8px;
	box-shadow: 0 0 5px #000000;
	padding: 5px 10px;
	display: none;
}
.post_option_btn{
	cursor: pointer;
	border: 1px solid black;
	border-radius: 3px;
	margin-left: 10px;
	padding: 5px 8px;
	display: inline-block;
	margin-bottom: 15px;
}
.post_option_btn:hover{
	border: 1px solid #00a9cd;
	color: #00a9cd;
}



